@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");



:root {
  --button-font-color: rgb(0, 6, 114);

  --default-font-size: clamp(0.8rem, 1rem, 1.2rem);

  --button-padding-width: clamp(1rem, 1.2rem, 1.4rem);
  --button-padding-height: clamp(0.8rem, 1rem, 1.2rem);

  --bg-color-light: rgb(37, 0, 170);
  --text-font-light: 'Silkscreen', monospace, sans-serif;

  --bg-color-dark: rgb(12, 0, 89); 
  --text-font-dark: 'Orbitron', monospace, sans-serif;

}

html {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  font-family: var(--text-font-light);

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem;
  margin: 1.5rem;

  border: 0.25rem solid rgb(225, 0, 255);

}


header {

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;

}

main{

  padding: 3rem;

}


h1 {

  color: rgb(255, 192, 249);
  font-size: calc(var(--default-font-size)*3);
  animation: glowing-text-h1 3s infinite;

}

input, output, textarea, button {

  font-family: monospace, sans-serif;
  font-size: var(--default-font-size);

}


button {

  color: var(--button-font-color);
  padding: var(--button-padding-height) var(--button-padding-width);
  border-radius: 0.5rem;

}


form {

  display: flex; 
  flex-direction: column; 
  align-items: center; 
  font-weight: bold;

  gap: 2rem; 
  padding: 5rem; 

  color: rgb(223, 206, 255);
  box-shadow: 0 0 1rem 0.5rem rgb(221, 0, 255);
 

  fieldset {

    width: 40vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    border: center;
    gap: 2rem;
    padding: 2rem;

    border: 0.1rem solid rgb(0, 204, 255);

  }

  form-field {

    display: flex;
    flex-direction: column;
    gap: 1rem;

  }

  input{

    padding: 0.5rem;

    background-color: rgb(201, 232, 255);
    border-bottom: 0.2rem solid black;
    border-left: 0.2rem solid black;
    border-top: 0.1rem solid black;
    border-right: 0.1rem solid black;

  }

  textarea{

    width: 40vw; 
    height: 7rem; 
    align-self: center;

    padding: 0.5rem;

    background-color: rgb(201, 232, 255);
    border-bottom: 0.2rem solid black;
    border-left: 0.2rem solid black;
    border-top: 0.1rem solid black;
    border-right: 0.1rem solid black;

  }

  input:valid, textarea:valid{

    border: 0.15rem dashed rgb(43, 255, 0);
    background-color: rgb(209, 255, 214);

  }

  input:user-invalid, textarea:user-invalid{

    border: 0.15rem dashed red;
    background-color: rgb(255, 209, 209);    

  }

  input.flash, textarea.flash{

    animation: flash 0.3s alternate 2;

  }

  output {

    font-weight: normal;
    font-size: calc(var(--default-font-size)*0.8);

  }

  .info{

    color: rgb(195, 241, 255);

  }

  .error {
  
    color: red;
    min-height: var(--default-font-size);
    opacity: 1;
    transition: opacity 0.5s;

  }

  .error.hidden {

    opacity: 0;
    
  }

  .form-submit-button{

    color: var(--button-font-color);
    font-size: var(--default-font-size);
    padding: var(--button-padding-height) var(--button-padding-width);
    border-radius: 0.5rem;

    background-color: rgb(235, 148, 255);
    border-top: 0.1rem solid black;
    border-right: 0.1rem solid black;
    border-left: 0.25rem solid black;
    border-bottom: 0.25rem solid black;

    animation: glowing-button-nav 3s infinite;

  }

  .form-submit-button:hover{

    color: white;
    background-color: rgb(144, 0, 193);

    animation: glowing-button-nav-hover 3s infinite;

  }

}


.switch {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: inline-block;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 1rem;

  background-color: rgb(217, 0, 255);
  box-shadow: 0 0 1rem 0.25rem rgb(191, 0, 255);
}

.slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: rgb(173, 41, 255);
}


@media (max-width: 1200px){

  :root {

    --default-font-size: clamp(0.6rem, 0.8rem, 1rem);

    --button-padding-width: clamp(0.8rem, 1rem, 1.2rem);
    --button-padding-height: clamp(0.6rem, 0.8rem, 1rem);
  
  }


  body {

    margin: 0rem;
    border: none;

  }


  button {

    border-radius: 0.4rem;

  }


  form {

    box-shadow: 0 0 1rem 0.4rem rgb(221, 0, 255);

    .form-submit-button{

      border-radius: 0.4rem;

    }

    form-field {

      display: flex;
      flex-direction: column;
      gap: 0.75rem;

    }

  }

}




@media (max-width: 600px){

  :root {

    --default-font-size: clamp(0.4rem, 0.6rem, 0.8rem);

    --button-padding-width: clamp(0.6rem, 0.8rem, 1rem);
    --button-padding-height: clamp(0.4rem, 0.6rem, 0.8rem);
  }

  form{

    form-field {

      display: flex;
      flex-direction: column;
      gap: 0.5rem;

    }

  }

}




@keyframes glowing-button-nav {
  0% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgb(244, 124, 255),  
      0 0 1.25rem 0.25rem rgb(187, 77, 255),    
      0 0 2.1875rem 0.375rem rgb(132, 75, 255);   
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgba(244, 124, 255, 0.47),  
      0 0 1.25rem 0.25rem rgba(187, 77, 255, 0.491),    
      0 0 2.1875rem 0.375rem rgba(132, 75, 255, 0.496);  
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.125rem rgb(244, 124, 255),  
      0 0 1.25rem 0.25rem rgb(187, 77, 255),    
      0 0 2.1875rem 0.375rem rgb(132, 75, 255);  
  }
}

@keyframes glowing-button-nav-hover {
  0% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgb(154, 0, 168),  
      0 0 1.25rem 0.25rem rgb(98, 0, 158),    
      0 0 2.1875rem 0.375rem rgb(48, 0, 152);   
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgba(154, 0, 168, 0.482),  
      0 0 1.25rem 0.25rem rgba(98, 0, 158, 0.468),    
      0 0 2.1875rem 0.375rem rgba(48, 0, 152, 0.417);   
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.125rem rgb(154, 0, 168),  
      0 0 1.25rem 0.25rem rgb(98, 0, 158),    
      0 0 2.1875rem 0.375rem rgb(48, 0, 152);   
  }
}


@keyframes glowing-text-h1 {
  0% {
    text-shadow:
      0 0 1.5rem rgb(240, 32, 255),
      0 0 2rem rgb(180, 42, 255),
      0 0 2.5rem rgb(33, 37, 255);
  }
  50% {
    text-shadow:
      0 0 1.5rem rgba(240, 32, 255, 0.4),
      0 0 2rem rgba(180, 42, 255, 0.4),
      0 0 2.5rem rgba(33, 37, 255, 0.4);
  }
  100% {
    text-shadow:
      0 0 1.5rem rgb(240, 32, 255),
      0 0 2rem rgb(180, 42, 255),
      0 0 2.5rem rgb(33, 37, 255);
  }
}


@keyframes flash {
  to { background-color: rgb(255, 117, 117); }
}